<div class="container">
   <div class="filters">
      <input type="text" placeholder="Pretraži email..." [(ngModel)]="searchTerm" />
            <select [(ngModel)]="selectedKnjiznica">
        <option value="">Sve knjižnice</option>
        <option *ngFor="let nazivKnjiznice of knjiznice" [value]="nazivKnjiznice">{{ nazivKnjiznice }}</option>
      </select>
      <button (click)="resetFilters()">Reset</button>
    </div>
  <h2>Posudbe</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Korisnik</th>
        <th>Knjižnica</th>
        <th>Knjiga</th>
        <th>Datum početka</th>
        <th>Datum kraja</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let posudba of filteredPosudbe">
        <td>{{posudba.korisnikEmail}}</td>
        <td>{{ posudba.nazivKnjiznice }}</td>
        <td>{{ posudba.nazivKnjige }}</td>
        <td>{{ posudba.datumPosudbe | date: 'shortDate' }}</td>
        <td>{{ posudba.krajPosudbe | date: 'shortDate' }}</td>
        <td><button (click)="vratiKnjigu(posudba)">Vračeno</button></td>
      </tr>
    </tbody>
  </table>
</div>
