<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classic Library</title>
  </head>
  <body>
    <main>
      <section id="home">
        <h2>Dobrodošli u svijet znanja, inspiracije i otkrića!</h2>
        <p>Naše knjižnice su više od mjesta za posudbu knjiga – one su prostor za učenje, rast i zajedništvo. Bilo da tražite najnovije naslove, stručnu literaturu ili miran kutak za čitanje, ovdje ste na pravom mjestu.
Uz bogat fond knjiga pozivamo vas da postanete dio naše čitateljske zajednice.

Zavirite u naš katalog i otkrijte sve što vam knjižnica može pružiti.</p>
      </section>
    <section>
      <app-knjiznica-list></app-knjiznica-list>
    </section>
      <section id="catalog">  
        <app-book-list></app-book-list>
      </section>
      
    </main>

  </body>