
<div class="container">
    <div class="filters">
      <input type="text" placeholder="Pretraži naslov..." [(ngModel)]="searchTerm" />
      <select [(ngModel)]="selectedZanr">
        <option value="">Svi žanrovi</option>
        <option *ngFor="let zanr of zanrovi" [value]="zanr">{{ zanr }}</option>
      </select>
      <select [(ngModel)]="selectedTip">
        <option value="">Svi tipovi</option>
        <option *ngFor="let tip of tipoviKnjiga" [value]="tip">{{ tip }}</option>
      </select>
      <select [(ngModel)]="selectedAutor">
        <option value="">Svi autori</option>
        <option *ngFor="let autor of autoriList" [value]="autor">{{ autor }}</option>
      </select>
      <button (click)="resetFilters()">Reset</button>
    </div>
  
    <div class="book-list">
      <div class="book-card" *ngFor="let knjiga of paginatedKnjige"  [routerLink]="['/knjiga', knjiga.idKnjiga]">
        <img [src]="knjiga.slika" alt="{{ knjiga.naslov }}" />
        <h3>{{ knjiga.naslov }}</h3>
        <p><strong>Autor(i):</strong>
            <span *ngFor="let autor of knjiga.autori; let last = last">
              {{ autor.ime }} {{ autor.prezime }}<span *ngIf="!last">, </span>
            </span>
          </p>
          <p><strong>Datum izdanja:</strong> {{ knjiga.datumIzdanja | date }}</p>
          <p><strong>Žanr:</strong> {{ knjiga.zanr.naziv }}</p>
          <p><strong>Tip knjige:</strong> {{ knjiga.tipKnjige.naziv }}</p>
      </div>
    </div>

    <div class="pagination-controls" *ngIf="totalPages > 1">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">«</button>

  <button
    *ngFor="let page of [].constructor(totalPages); let i = index"
    (click)="changePage(i + 1)"
    [class.active]="i + 1 === currentPage">
    {{ i + 1 }}
  </button>

  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">»</button>
</div>
  </div>


